<!doctype html>
<html>

<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px;
        }
        .data{
            margin-top: 15px;
        }
        #pic {
            height: 200px;
            width: 190px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-primary  text-center"><span class="fa font-awesome"></span> WELCOME
                <%= user.displayName.toUpperCase() %></h1>
            <br>
            <br>
            <div class="data">
                <div id="pic">
                    <img src="<%= user.photos[0].value %>" style="height: 100%;width: 100%;border: 1.5px solid black;">
                </div>
                <br>
                <br>
                <div class="content">
                    <p>
                        <strong>User Name -:</strong> <%= user.displayName %>
                    </p>
                    <p>
                        <strong>User Email -:</strong> <%= user.emails[0].value %>
                    </p>
                </div>
              <div class="button" style="text-align: right;">
                <a href="/logout" class="btn btn-default btn-sm btn-danger">Logout</a>

              </div>
            </div>
        </div>
    </div>
   
</body>

</html>